
<!DOCTYPE html>
<html>
  <head>
    <title>Spotify</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic"/>
  </head>
    
  <body>
    <nav>
      <a href="/" class="brand"><span>Spotify</span></a>
    </nav>
    <br><br>
    {% block content %}
    <p>Hello!</p>
    {% if authorized %}
    <a href="/user_playlists" class="button">My playlists</a>
    <a href="/user_top_tracks" class="button">My top tracks</a>
    <a href="/user_profile" class="button">My user profile</a>
    {% else %}
    <a href="/spotify_login" class="button">Log in with Spotify</a>
    {% endif %}
    {% endblock %}
    </body>
</html>
