{% extends "layout.html" %}
{% block content %}
  <body>
    <nav>
      <a href="/" class="brand"><span>Spotify</span></a>
    </nav>
    <br><br>
      <center>
        <a href="/spotify_login" class="button">Log in with Spotify</a>
      </center>
      <br></br>
      <p>If you're tired of good music, you've found the right place. Everyone and their mother has already built a song recommendation web app... Spotify even has its own built-in system for it! So we've gone the opposite way and decided instead to attack your ears with music we think you'll HATE using advanced state-of-the-art song analytics like "dancability" and "speechiness".</p>
    </body>
{% endblock %}
