<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/layout.css') }}">
	{% if title %}
		<title>Bad Songs • {{ title }}</title>
	{% else %}
		<title>Bad Songs</title>
	{% endif %}
</head>

<body style='font-family:Impact'>
	<div>
		<center>
			<div>
				<p class="banner">
					Bad Song Recommendations
				</p>
				<p style="position:relative;top:-20px">
					<i>"Trust us, you'll hate this..."</i>
				</p>
			</div>
			<div style="width:100%;background-color:black;">
				<ul>
					<li><a href="{{ url_for('index') }}" class="head">App</a></li>
					<li><a href="{{ url_for('about') }}" class="head">About</a></li>
					<li><a href="{{ url_for('team') }}" class="head">Team</a></li>
				</ul>
			</div>
		</center>

	</div> <!--To play around with inner fonts, remove the "/* */" around font-family in the below string and add custom values-->
	<div style="position:relative;top:20px;font-size:20px;font-family:Arial;">
		<div class="container content-block">
			{% block content %}
			{% endblock %}
		</div>
	</div>
</body>
</html>