{% extends "layout.html" %}
{% block content %}
    <center>
        <p class="subheader">Welcome, {{ sp.current_user()['display_name'].split(" ")[0] }}!</p>
        <p>
            Using your top 10 recent tracks we'll generate a playlist of 10 tracks you should dislike and use their lyrics to generate a playlist name. 
        </p>
        <br></br>
        <form method="POST" action="/app">
            <button class="button" style="font-size:25px;" name="badrecs">Generate Bad Suggestions</button>
        </form>
        <table style="width:50%;border-width:4px;">
            <br><br>
            {% if title %}
                <tr>
                    <th><center style="padding:10px;font-size:25px">{{ title }}</center></th>
                </tr>
            {% endif %}
            {% if songs %}
                {% for song in songs %}
                <tr style="border-width:4px;">
                    <th  style="border-width:4px;"><iframe src="https://open.spotify.com/embed/track/{{ song }}" width="400" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></th>
                </tr>
                {% endfor %}
            {% endif %}
        </table>
        <br>
        <form method="POST" action="/app">
            {% if title %}
                <p>Heard enough awful music?</p>
                <button class="button" style="font-size:15px;" name="goodrecs">Generate Good Suggestions</button> 
            {% endif %}
        </form>
        <br><br><br>
    </center>
{% endblock %}
