{% extends "layout.html" %}
{% block content %}
    <center>
        <p class="subheader">Welcome, {{ sp.current_user()['display_name'].split(" ")[0] }}!</p>
    </center>
    <center style="position:relative;top:20px"> <!--BIG HACK HERE-->
        <a href="/user_playlists" class="button">My playlists</a>
        <a href="/user_top_tracks" class="button">My top tracks</a>
        <a href="/user_profile" class="button">My user profile</a>
    </center>
    <center style="position: relative;top:80px;"> <!--BIG HACK HERE-->
        <table style="width:50%;">
            <tr>
              <th>Song</th>
              <th>Artist</th>
              <th>play</th>
            </tr>
            {% for song in top %}
                <tr>
                    <td>{{ song[0] }}</td>
                    <td>{{ song[1] }}</td>
                    <td>50</td>
                </tr>
            {% endfor %}
          </table> 
    </center>
{% endblock %}
