{% extends "layout.html" %}
{% block content %}
<br>
<h3 style = "text-align: center;">Bad Songs Team</h3>
    <br>
    <div style="text-align: center;">
        <p>
            Check out what hand each member of our team had in bringing you this quirky app.
            <br><br>
            Reid Harris: Web scraping master, NLP for lyrics, Spotify API
            <br><br>
            Trey Heaney: Front end genius, Back end, Spotify API
            <br><br>
            Christopher Lee: Spotify API guru, Machine Learning for recommendations, Back end
            <br><br>
            Laurence Obi: Version control maestro, Jack of all trades and master of all
            <br><br>
            Ik Okoro: NLP for lyrics, Spotify API, Genius API, Front end
            <br><br>
        </p>
        <p>
            We had a lot of fun coming up with the idea for this app and bringing it to life so we hope you enjoy it
        </p>
    </div>
{% endblock %}