{% extends "layout.html" %}
{% block content %}
<style>
    table, th, td {
  border: 2px solid white;
  font-weight: normal;
}
</style>
<br>
<h1>Bad Songs Team</h1>
    <br>
    <div>
        <p>
            <table>
            <tr>    
                <th><b>Christopher Lee</b>: Back-end, Suggestions Model and API management</th>
            </tr>
            <tr>
                <th><b>Reid Harris</b>: Back-end, Suggestions Model and Data Sourcing</th>
            </tr>
            <tr>
                <th><b>Ik Okoro</b>: Back-end, Playlist Name Model and API management</th>
            </tr>
            <tr>
                <th><b>Trey Heaney</b>: Full-stack, UI and deployment</th>
            </tr>
            <tr>    
                <th><b>Laurence Obi</b>: Version Control and Code Review</th>
            </tr>
            </table>
        </p>
        <p>
            We had a lot of fun making this app and we hope you enjoy it.
        </p>
    </div>
{% endblock %}